{% for post in posts %}
    {% if post.published == true %}
        <h2>
            <a href="{{ path('blog_post_view', { id: post.id }) }}">{{ post.title }}</a>
        </h2>

        <p class="lead">
            by <a href="{{ path('user_profil_name', { username: post.author }) }}">{{ post.author }}</a>
        </p>

        <p><span class="glyphicon glyphicon-time"></span> Posted
            on {{ post.date|date('d M Y H:m:s', 'Europe/Paris') }}</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{ post.content }}</p>
        <a class="btn btn-primary" href="{{ path('blog_post_view', { id: post.id }) }}">Read More <span
                    class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
    {% endif %}
{% endfor %}